@charset "UTF-8";

/* ----------------------------------------------------------------------------------------------------
 *  1.基本情報
 * --------------------------------------------------------------------------------------------------*/
body {
	background: #fff;
	color: #4D4D4D;
	font-size: 15px;
	line-height: 150%;
	overflow-x: hidden;
	font-family: "明朝体＿游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", "Meiryo", serif, "ゴシック体＿メイリオ", "Meiryo", "ヒラギノ角ゴ ProN W3", "游ゴシック", "YuGothic", "Hiragino Kaku Gothic ProN", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
	color: #4D4D4D;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	opacity: 0.7;
	transition: 0.3s;
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
ul  li {
	list-style: none;
}
.pc {
	display: block;
}
.sp {
	display: none;
}
img {
	vertical-align: middle;
}
#wrapper {
	width: 100%;
	height: 100%;
	min-height: 100%;
	height: auto !important;
	position: relative;
}
.main_image {
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
}
.img_hover {
	display: block;
}

/* ----------------------------------------------------------------------------------------------------
*  header
* --------------------------------------------------------------------------------------------------*/

/*pc_header*/
.header {
	width: 100%;
	min-width: 1200px;
}
.header_in {
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
	padding: 50px 0 20px 0;
}
.h_ttl {
	width: 100%;
	min-width: 1200px;
	background: #B5B2ED;
}
.h_ttl h1 {
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
	font-family: "メイリオ";
	font-weight: normal;
	color: #fff;
	padding: 7px 0px;
}
.h_left {
	float: left;
}
.h_right {
	float: right;
}

/*music_header*/
.music_h_ttl {
	background: #A2BCE7;
}
.music_h_ttl h1 {
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
	font-family: "メイリオ";
	font-weight: normal;
	color: #fff;
	padding: 7px 0px;
}

/*pc-navigation*/
.pc_gnav {
	width: 100%;
	min-width: 1200px;
	margin: 0 0 20px 0;
}
.pc_gnav .gnav_in {
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
}
.pc_gnav .gnav_in li {
	float: left;
	font-size: 16px;
	margin: 0 80px 0 85px;
}
.pc_gnav .gnav_in li:last-child {
	margin: 0 0 0 76px;
}
.pc_gnav .gnav_in li a {
	color: #B5B2ED;
	padding: 23px 0 23px 0;
	opacity: 1;
	font-family: "游明朝";
	transition: 0s;
	display: block;
}
.pc_gnav .gnav_in li:hover {
	background: url(../../common/img/header/nav_bg.png)no-repeat center;
	height: 54px;
	background-position-y: 9px;
}
.pc_gnav .gnav_in li.active {
	background: url(../../common/img/header/nav_bg.png)no-repeat center;
	height: 54px;
	background-position-y: 9px;
}

/*music-navigation*/
.music_gnav {
	width: 100%;
	min-width: 1200px;
	margin: 0 0 20px 0;
}
.music_gnav .gnav_in {
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
}
.music_gnav .gnav_in li {
	float: left;
	font-size: 16px;
	margin: 0 60px 0 65px;
}
.music_gnav .gnav_in li:last-child {
	margin: 0 0 0 76px;
}
.music_gnav .gnav_in li a {
	color: #A2BCE7;
	padding: 23px 0 23px 0;
	opacity: 1;
	font-family: "游明朝";
	transition: 0s;
	display: block;
}
.music_gnav .gnav_in li:hover, .cont_gnav .gnav_in li:hover {
	background: url(../../common/img/header/nav_bg.png)no-repeat center;
	height: 54px;
	background-position-y: 9px;
}
.music_gnav .gnav_in li.active {
	background: url(../../common/img/header/nav_bg.png)no-repeat center;
	height: 54px;
	background-position-y: 9px;
}

/* ----------------------------------------------------------------------------------------------------
*  index.html
* --------------------------------------------------------------------------------------------------*/
.topsec {
	width: 100%;
	min-width: 1200px;
}
.top01 {
	width: 100%;
	min-width: 1200px;
	background: url(../../img/top/bg01.png)no-repeat center;
	height: 960px;
	padding: 100px 0px;
	background-size: 100%;
}
.wrap_in {
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
}
.top_img01 {
	margin-top: -8%;
}
.top_txt01 {
	font-size: 24px;
	text-align: center;
	line-height: 54px;
	color: #4D4D4D;
	letter-spacing: 3px;
	font-family: "游明朝";
}
.top02_plx {
	min-height: 500px;
	background: transparent;
	margin-top: 15px;
}
.top04_plx {
	min-height: 500px;
	background: transparent;
	margin-top: 15px;
}
.top02, .top04 {
	width: 100%;
	min-width: 1200px;
	margin: 0 auto;
	display: block;
}
.menu01 li {
	float: left;
	margin: 0 30px 0 30px;
}
.menu01 li a {
	color: #4D4D4D;
	padding: 23px 0 23px 0;
	opacity: 1;
	font-family: "游明朝";
	transition: 0s;
	display: block;
}
.menu01 li:hover {
	background: url(../../img/top/nav_bg.png)no-repeat center;
	height: 54px;
	background-position-y: 9px;
}
.menu01 li.active {
	background: url(../../img/top/nav_bg.png)no-repeat center;
	height: 54px;
	background-position-y: 9px;
}
.top03 {
	padding: 80px 0 120px 0;
}
.top03_a {
	float: left;
	margin-bottom: 60px;
}
.top03_b {
	float: right;
}
.top03_b p {
	text-align: right;
}
.top05in {
	width: 100%;
	min-width: 1200px;
	background: url(../../img/top/bg02.png)no-repeat center;
	height: 673px;
	background-size: 100%;
}
.top05_fll {
	width: 570px;
	float: left;
}
.top_new li {
	border-bottom: 1px dotted #989898;
	padding: 0 0 20px 0;
	margin: 0 0 20px 0;
}
.top_new {
	margin: 80px 0 0 0;
}
.top_new li a {
	display: block;
	margin: 0 15px 0 36px;
	font-family: "游ゴシック";
}
.top05 {
	width: 100%;
	min-width: 1200px;
	margin-top: 100px;
}
.top05_flr {
	width: 340px;
	float: right;
	color: #4D4D4D;
}
.top05_txt span {
	display: inline-block;
}
.top05_txt {
	font-family: "游ゴシック";
	color: #4D4D4D;
	padding-top: 150px;
}
.top_wd01 {
	width: 1000px;
	margin: 0 auto;
	padding-top: 100px;
}

/* ----------------------------------------------------------------------------------------------------
*  pc.html
* --------------------------------------------------------------------------------------------------*/
.container {
	width: 100%;
}
.pc_sec_content {
	width: 100%;
	min-width: 1200px;
}
.music_bnr{
	min-width: 1200px;
}
.pc_bnr img, .music_bnr img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}
.pc_sec01 {
	width: 100%;
	background: url(../../img/pc/pc_bg.png)repeat center;
	position: relative;
}
.pc_img01 {
	position: absolute;
	top: -26px;
	width: 100%;
}
.pc_sec01 .pc_ttl01 {
	padding-top: 130px;
}
.pc_sec02 .pc_ttl01 {
	padding-top: 90px;
}
.pc_sec02 {
	margin-bottom: 135px;
}
.pc_ttl01 {
	font-size: 30px;
	font-family: "游明朝";
	text-align: center;
	color: #B5B2ED;
	font-weight: bold;
	padding-top: 10px;
}
.pc_ttl01 span {
	display: block;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
}
.pc_txt01 {
	line-height: 28px;
	padding: 100px 0px 70px 0px;
}
.pc_txt02 {
	text-align: center;
	padding: 0px 0px 60px 0px;
}
.pc_txt03 {
	font-size: 18px;
	padding-top: 50px;
	line-height: 28px;
}
.pc_block01 {
	margin: 45px 0 90px 0;
}
.pc_block01 li {
	float: left;
	position: relative;
	padding-right: 40px;
	font-family: "游明朝";
}
.pc_block01 li:last-child {
	padding-right: 0px;
}
.pc_link {
	position: absolute;
	background: url(../../img/pc/pc_bg02.png)no-repeat;
	display: block;
	width: 373px;
	padding: 22px 0 27px 0;
	bottom: 12%;
	font-size: 26px;
	text-align: center;
}
.pc_sec03 {
	width: 100%;
}

/* ----------------------------------------------------------------------------------------------------
*  pc-about.html
* --------------------------------------------------------------------------------------------------*/
.banner {
	width: 100%;
	margin-bottom: 20px;
	min-width: 1200px;
}
.banner_in {
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
}
.pc_content {
	width: 100%;
	min-width: 1200px;
	position: relative;
}
.pc_main_content {
	width: 100%;
	min-width: 1200px;
	background: url(../../common/img/com_img/pc_bg.png)repeat center;
}
.com_img {
	width: 100%;
	position: absolute;
	top: -26px;
	max-width: 100%;
}
.pc_about01 {
	width: 790px;
	margin: 0 auto;
	padding: 120px 0 120px 0;
}
.pc_about01_in {
	margin-top: 85px;
}
.pc_about01_fll {
	float: left;
}
.pc_about01_flr {
	width: 520px;
	float: right;
}
.pc_about01_flr p {
	font-family: "小塚ゴシック Pr6N";
	line-height: 27px;
}
.pc_about01_flr p span {
	font-size: 20px;
	font-weight: bold;
	font-family: "小塚ゴシック Pr6N";
	padding-bottom: 25px;
	display: block;
}
.pc_about02_plx {
	min-height: 405px;
	background: transparent;
}
.pc_about03_blk {
	width: 560px;
}
.pc_about_txt {
	font-family: "小塚ゴシック Pr6N";
	font-size: 18px;
	color: #B5B2ED;
}
.pc_about_txt span {
	display: inline-table;
	padding-right: 10px;
}
.pc_about_txt2 {
	font-family: "小塚ゴシック Pr6N";
	padding: 15px 0 20px 0;
}
.pc_about03_blk .pc_ttl01 {
	padding-bottom: 65px;
}
.pc_about03 {
	padding: 75px 0 128px 0;
}

/* ----------------------------------------------------------------------------------------------------
*  pc-price.html
* --------------------------------------------------------------------------------------------------*/
.pc_price01 {
	width: 670px;
	margin: 0 auto;
	padding-bottom: 100px;
}
.pc_price_txt {
	text-align: center;
	line-height: 40px;
	padding: 120px 0 0 0;
}
.pc_ttl02 {
	width: 670px;
	margin: 0 auto;
	font-size: 30px;
	font-family: "游明朝";
	font-weight: bold;
	text-align: center;
	color: #B5B2ED;
	position: relative;
	padding: 90px 0 100px 0;
}
.pc_ttl02:before {
	position: absolute;
	content: "";
	background: url(../../img/pc_price/ico01.png)no-repeat;
	width: 124px;
	height: 34px;
	left: 0;
	margin-top: -1%;
}
.pc_ttl02:after {
	position: absolute;
	content: "";
	background: url(../../img/pc_price/ico02.png)no-repeat;
	width: 124px;
	height: 34px;
	right: 0;
	margin-top: -1%;
}
.pc_price01in {
	width: 460px;
	margin: 0 auto;
}
.pc_price01in dl dt {
	float: left;
	font-weight: bold;
}
.pc_price01in dl dd {
	float: right;
	text-align: right;
	font-weight: bold;
}
.pc_price_txt2 {
	font-family: "小塚ゴシック Pr6N";
	color: #B5B2ED;
	padding: 15px 0 0 0;
}
.pc_price_pad {
	padding: 60px 0 0 0;
}
.pc_price_txt3 {
	text-align: center;
	font-size: 18px;
	padding: 60px 0 0 0;
}
.pc_price_txt4 {
	padding-bottom: 50px;
}

/* ----------------------------------------------------------------------------------------------------
*  pc-course.html
* --------------------------------------------------------------------------------------------------*/
.pc_course01 {
	padding: 120px 0 70px 0;
}
.pc_course_txt {
	width: 590px;
	padding-top: 150px;
	line-height: 30px;
}
.pc_course_blk {
	padding: 120px 0;
}
.pc_course02 {
	background: #fff;
	padding: 100px 0;
}
.pc_course_blk2 {
	padding-bottom: 50px;
}
.pc_course_blk2:last-child {
	padding-bottom: 0px;
}
.pc_course_blk2 li:last-child {
	line-height: 26px;
}
.pc_course_blk2 li:first-child {
	font-size: 26px;
	font-weight: bold;
	color: #B5B2ED;
	padding-bottom: 15px;
}
.pc_course03 {
	padding: 80px 0 120px 0;
}

/* ----------------------------------------------------------------------------------------------------
*  pc-apply.html
* --------------------------------------------------------------------------------------------------*/
.apply_tb {
	width: 1200px;
	margin: 90px 0;
}
.apply_tb tr {
	margin-bottom: 40px;
	display: table;
}
.apply_tb tr:last-child {
	margin-bottom: 0px;
}
.apply_tb tr th {
	width: 245px;
	font-size: 20px;
	color: #B5B2ED;
	vertical-align: middle;
	text-align: left;
	padding: 0 0 0 10px;
}
.apply_tb tr td {
	display: block;
	margin-left: 50px;
}
.apply_tb tr th span {
	float: right;
}
.apply_tb tr td input {
	width: 840px;
	padding: 15px 5px;
	background: #fff;
	border: 1px solid #B5B2ED;
}
.apply_tb tr td textarea {
	width: 840px;
	height: 283px;
	resize: none;
	padding: 15px 5px;
	background: #fff;
	border: 1px solid #B5B2ED;
}
.pc_btn {
	width: 155px;
	height: 48px;
	margin: 0 auto;
	position: relative;
}
.pc_apply {
	padding-bottom: 100px;
}
.pc_button {
	display: inline-block;
	width: 156px;
	height: 49px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
	font-size: 18px;
	position: relative;
	z-index: 2;
	color: #B5B2ED;
	line-height: 50px;
	overflow: hidden;
	background: url(../../img/pc_apply/button.png)no-repeat;
}
.pc_button::before, .pc_button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.pc_button, .pc_button::before, .pc_button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.pc_button::after {
	top: -100%;
	left: -100%;
	width: 100%;
	height: 100%;
}
.pc_button:hover::after {
	top: 0;
	left: 0;
	background-color: #B5B2ED;
}
.pc_button input {
	width: 156px;
	height: 49px;
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	background: none;
	border: none;
	outline: none;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: #B5B2ED;
	cursor: pointer;
	opacity: 1;
}
.pc_button input:hover {
	color: #fff;
}

/* ----------------------------------------------------------------------------------------------------
*  music.html
* --------------------------------------------------------------------------------------------------*/
.container {
	width: 100%;
}
.music-palx-content {
	position: relative;
	min-width: 1200px;
	width: 100%
}
.music-palx-content .music-primary-section {
	min-height: 100%;
	position: relative;
	width: 100%;
	max-height: 330px;
	overflow: hidden;
}
.music-palx-content .music-primary-section .primary-image {
	background: url(../../img/music/bnr.jpg) no-repeat;
	background-position: 100%;
	background-size: 100%;
	width: 100%;
	min-height: 100%;
	position: relative !important;
}
.music_sec01 {
	width: 100%;
	position: relative;
	background: url(../../common/img/com_img/music_bg.png)repeat;
}
.music_img01 {
	width: 100%;
	position: absolute;
	top: -26px;
	max-width: 100%;
}
.music_ttl01 {
	width: 670px;
	margin: 0 auto;
	font-size: 30px;
	font-family: "游明朝";
	font-weight: bold;
	text-align: center;
	color: #A2BCE7;
	position: relative;
	padding: 120px 0 100px 0;
}
.music_ttl01:before {
	position: absolute;
	content: "";
	background: url(../../common/img/com_img/music_ico01.png)no-repeat;
	width: 123px;
	height: 36px;
	left: 0;
	margin-top: -1%;
}
.music_ttl01:after {
	position: absolute;
	content: "";
	background: url(../../common/img/com_img/music_ico02.png)no-repeat;
	width: 123px;
	height: 36px;
	right: 0;
	margin-top: -1%;
}
.music_blk01 li {
	float: left;
	position: relative;
	padding-right: 40px;
	font-family: "游明朝";
}
.music_blk01 li:last-child {
	padding-right: 0px;
}
.music_blk01 {
	padding: 60px 0 133px 0;
}
.music_link {
	position: absolute;
	background: url(../../img/music/bg01.png)no-repeat;
	display: block;
	width: 372px;
	padding: 22px 0 27px 0;
	bottom: 12%;
	font-size: 26px;
	text-align: center;
}
.music_sec02 {
	background: #E1F3FC;
	padding-bottom: 130px;
}
.music_sec02in {
	width: 100%;
	background: url(../../img/music/bg02.png)no-repeat center;
	background-size: 100%;
	background-position: 0 46px;
}
.music_sec02in ul li {
	float: left;
}
.music_map {
	width: 100%;
}
.music_map p {
	text-align: center;
	padding-top: 14%;
}
.more {
	text-align: center;
	margin: 0 auto;
	display: block;
}

/* ----------------------------------------------------------------------------------------------------
*  music-about.html
* --------------------------------------------------------------------------------------------------*/
.music_content {
	width: 100%;
	min-width: 1200px;
	position: relative;
}
.music_main_content {
	width: 100%;
	min-width: 1200px;
	background: url(../../common/img/com_img/music_bg.png)repeat;
}
.music_about01 {
	width: 785px;
	margin: 0 auto;
	padding-bottom: 130px;
}
.music_about_txt01 {
	width: 530px;
	font-family: "小塚ゴシック Pr6N";
	line-height: 28px;
}
.music_about_txt01 p span {
	font-size: 20px;
	font-weight: bold;
	display: block;
	padding-bottom: 20px;
}
.music_about02_plx {
	min-height: 405px;
	background: transparent;
}
.music_about03_fll {
	width: 560px;
	float: left;
}
.music_about03_flr {
	width: 560px;
	float: right;
}
.music_ttl02 {
	width: 548px;
	margin: 0 auto;
	font-size: 30px;
	font-family: "游明朝";
	font-weight: bold;
	text-align: center;
	color: #A2BCE7;
	position: relative;
	padding: 100px 0 100px 0;
}
.music_ttl02:before {
	position: absolute;
	content: "";
	background: url(../../common/img/com_img/music_ico01.png)no-repeat;
	width: 123px;
	height: 36px;
	left: 0;
	margin-top: -1%;
}
.music_ttl02:after {
	position: absolute;
	content: "";
	background: url(../../common/img/com_img/music_ico02.png)no-repeat;
	width: 123px;
	height: 36px;
	right: 0;
	margin-top: -1%;
}
.music_about_txt02 {
	font-family: "小塚ゴシック Pr6N";
	font-size: 18px;
	color: #A2BCE7;
}
.music_about_txt02 span {
	display: inline-table;
	padding-right: 10px;
}
.music_about_txt03 {
	font-family: "小塚ゴシック Pr6N";
	padding: 20px 0 20px 0;
}
.music_about03_blk {
	padding-bottom: 50px;
}
.music_about03 {
	padding-bottom: 100px;
}

/* ----------------------------------------------------------------------------------------------------
*  music-price.html
* --------------------------------------------------------------------------------------------------*/
.music_price_txt01 {
	text-align: center;
	font-size: 18px;
	padding: 120px 0 50px 0;
	line-height: 30px;
}
.music_price01 {
	width: 670px;
	margin: 0 auto;
}
.music_price01 .music_ttl01 {
	padding: 120px 0 50px 0;
}
.music_price_txt02 {
	padding: 0 0 0 60px;
	line-height: 28px;
}
.music_price_txt02 span {
	font-size: 12px;
}
.music_price_pad {
	text-align: center;
	padding: 70px 0 100px 0;
}

/* ----------------------------------------------------------------------------------------------------
*  music-course.html
* --------------------------------------------------------------------------------------------------*/
.music_course_txt01 {
	width: 605px;
	font-size: 16px;
	padding: 100px 0 0 0;
}
.music_course_ul {
	margin: 60px 0;
}
.music_course_ul2 {
	margin: 0;
}
.music_course_ul li:first-child, .music_course_ul2 li:first-child {
	font-size: 26px;
	font-weight: bold;
	color: #A2BCE7;
	padding: 0 0 20px 0;
	line-height: 28px;
}
.music_course_ul2 {
	width: 600px;
}
.music_course01in .pad01 {
	padding-top: 140px;
}
.music_course01 {
	padding: 120px 0 100px 0;
}
.music_course01 .music_ttl01, .music_course02 .music_ttl01 {
	padding-top: 15px;
}
.music_course02 {
	background: rgba(225, 243, 252, .5);
	padding: 120px 0 80px 0;
}
.music_course02 .music_course_txt01 {
	padding: 190px 0 0 0;
}

/* ----------------------------------------------------------------------------------------------------
*  music-apply.html
* --------------------------------------------------------------------------------------------------*/
.music_apply_tb {
	width: 1200px;
	margin: 150px auto 100px auto;
}
.music_apply_tb tr {
	border-bottom: 1px dotted #A2BCE7;
}
.music_apply_tb tr:last-child {
	border-bottom: 0px;
}
.music_apply_tb tr th {
	width: 245px;
	font-size: 20px;
	color: #A2BCE7;
	vertical-align: middle;
	text-align: left;
	padding: 24px 0 0 10px;
}
.music_apply_tb tr td {
	display: block;
	padding-left: 50px;
	padding-bottom: 20px;
	margin-top: 36px;
}
.music_apply_tb tr th span {
	float: right;
}
.music_apply_tb tr td.music_input01 input {
	width: 840px;
	padding: 15px 5px;
	background: #fff;
	border: 1px solid #A2BCE7;
}
.music_apply_tb tr td textarea {
	width: 840px;
	height: 283px;
	resize: none;
	padding: 15px 5px;
	background: #fff;
	border: 1px solid #A2BCE7;
}
.music_input02 span {
	color: #A2BCE7;
}
.radio_01 {
	width: 200px;
	float: left;
}
input[type="radio"i] {
	margin: 0 10px 0 0;
}
.music_btn {
	width: 155px;
	height: 48px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 100px;
}
.music_button {
	display: inline-block;
	width: 156px;
	height: 49px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
	font-size: 18px;
	position: relative;
	z-index: 2;
	color: #A2BCE7;
	line-height: 50px;
	overflow: hidden;
	background: url(../../img/music_apply/button.png)no-repeat;
}
.music_button::before, .music_button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.music_button, .music_button::before, .music_button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.music_button::after {
	top: -100%;
	left: -100%;
	width: 100%;
	height: 100%;
}
.music_button:hover::after {
	top: 0;
	left: 0;
	background-color: #A2BCE7;
}
.music_button input {
	width: 156px;
	height: 49px;
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	background: none;
	border: none;
	outline: none;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: #A2BCE7;
	cursor: pointer;
	opacity: 1;
}
.music_button input:hover {
	color: #fff;
}

/* ----------------------------------------------------------------------------------------------------
*  music-concert.html
* --------------------------------------------------------------------------------------------------*/
.music_concert_txt01 {
	padding: 50px 0 200px 0;
}
.concert_pad {
	padding: 180px 0 80px 0;
}
.music_concert01 {
	background: rgba(225, 243, 252, .5);
}
.concert_blk01 {
	width: 905px;
}
.concert_blk01 ul {
	width: 870px;
	float: left;
	margin-bottom: 175px;
}
.concert_img {
	float: left;
}
.concert_txt01 {
	position: relative;
	padding: 0 0 30px 70px;
}
.concert_txt01:before {
	position: absolute;
	content: "";
	background: url(../../img/music_concert/ico01.png)no-repeat;
	width: 23px;
	height: 52px;
	margin: 0 0 0 -50px;
}
.concert_txt02 {
	position: relative;
	padding: 20px 0 0 70px;
}
.concert_txt02:before {
	position: absolute;
	content: "";
	background: url(../../img/music_concert/ico02.png)no-repeat;
	width: 32px;
	height: 36px;
	margin: 0 0 0 -50px;
}
.music_mp3 {
	width: 255px;
}

/* ----------------------------------------------------------------------------------------------------
*  contact.html
* --------------------------------------------------------------------------------------------------*/
.cont_gnav {
	width: 100%;
}
.cont_gnav .gnav_in {
	width: 1200px;
	margin: 0px auto;
}
.cont_gnav .gnav_in li {
	float: left;
	margin: 0 15%;
}
.cont_gnav .gnav_in li a {
	color: #4D4D4D;
	padding: 23px 0 23px 0;
	opacity: 1;
	font-family: "游明朝";
	font-size: 20px;
	transition: 0s;
	display: block;
}

/*footer*/
.footer {
	width: 100%;
	min-width: 1200px;
	border-bottom: 30px solid #B5B2ED;
}
.footer_in {
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
	padding: 30px 0 0 0;
}
.ft_txt {
	text-align: right;
}
.ft_txt a {
	color: #B5B2ED;
}
.ft_txt span, .music_ft_txt span {
	display: inline-table;
	padding-right: 10px;
}
.copy {
	text-align: center;
	font-family: "游ゴシック";
	padding: 30px 0 20px 0;
}
.music_ft_txt {
	text-align: right;
}
.music_ft_txt a {
	color: #A2BCE7;
}
.music_ft {
	border-bottom: 30px solid #A2BCE7 !important;
}

/*topfooter*/
.top_footer {
	width: 100%;
	min-width: 1200px;
	overflow-y: hidden;
}
.topft_in {
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
}
.topft_in p {
	text-align: center;
	color: #4D4D4D;
	font-family: "游ゴシック";
}

